{% extends 'MUDBase.html' %}
{% load static %}


{% block content%}
<div class="row">
    <div class="col-12 text-center pt-5">
        <h2> You bought {{bundle_name}} gold</h2>
    </div>
    <div class="col-12 col-md-8 offset-md-2">
       <p> Order: {{order.order_number}} </p>
       <p> Total Paid: {{order.total}} </p>
    </div>
</div>
{% endblock %}

{% block post_load_js %}
    {{block.super}}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static '/js/stripe_elements.js' %} "></script>
{% endblock %}

