body {
  background-color: #d55e00;
}

.toast-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999;
}

.toast-divider {
  height: 2px;
}

.toast {
  color: #000000;
}

.navbar {
  border-bottom: 2px solid #000000;
}

#navbarcontent .nav-link {
  color: #000000;
}

.nav-link {
  margin-left: 1rem;
}

.allauth-box {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}
.allauth-box p a:nth-of-type(1) {
  color: white;
  text-decoration: none;
  background-color: #000000;
  padding: 0.1rem;
  border-radius: 10px;
  margin: 0 0.3rem;
  padding: 0.2rem;
}
.allauth-box .btn {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
}
@media (min-width: 768px) {
  .allauth-box {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .allauth-box {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .allauth-box {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .allauth-box {
    width: 40%;
  }
}

.login {
  padding-top: 0;
}

#siteLogo {
  width: 75px;
  height: auto;
}

body {
  background-color: #0072b2;
  color: #ffffff;
}

.icon {
  color: #e69f00;
  margin-left: 0.2rem;
}

.icon-blue {
  color: #0072b2;
  background-color: #ffffff;
}

#balance {
  position: relative;
  border: 2px solid #E69F00;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.125);
  padding: 1rem;
}
#balance a {
  text-decoration: none;
  color: inherit;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}

.link {
  position: relative;
  margin-top: 0.2rem;
  padding: 0.2rem;
  color: #ffffff;
  text-decoration: none;
}

.link-top-border:hover {
  color: inherit;
}
.link-top-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  top-bottom: 2px solid #e69f00;
  transition: 0.4s;
}
.link-top-border:hover:after {
  width: 100%;
}

.link-bottom-border:hover {
  color: inherit;
}
.link-bottom-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #e69f00;
  transition: 0.4s;
}
.link-bottom-border:hover:after {
  width: 100%;
}

.header-text {
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
.header-text::before, .header-text::after {
  content: "-";
  font-weight: bolder;
  color: #e69f00;
}

.form-container {
  border-radius: 1rem;
  background-color: #0072b2;
  margin-top: 2rem;
}
.form-container .form-control {
  box-shadow: none;
}

#buttons {
  position: sticky;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 10px;
  border: 2px solid #e69f00;
}
#buttons .btn {
  font-size: 1.5rem;
  width: 100%;
  background-color: #0072b2;
  color: #ffffff;
  border: 2px solid #e69f00;
  margin-bottom: 4px;
  border-radius: 1rem;
}

.trait-container {
  border: 0.3rem solid #e69f00;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.66);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 3rem;
}
.trait-container legend {
  width: 50%;
  border: 0.3rem solid #e69f00;
  border-radius: 1rem;
  position: relative;
  top: -25px;
  right: -25%;
  box-sizing: border-box;
  background-color: #0072b2;
  color: #ffffff;
  text-transform: uppercase;
}

.common {
  background-color: #0072b2;
}

.unusual {
  background-color: #2e8b57;
}

.rare {
  background-color: #8b008b;
}

.epic {
  background-color: #ffd700;
}

.item-card {
  border: 4px solid #e69f00;
  margin: 0 auto;
  height: 100%;
  background-color: #0072b2;
  -webkit-box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.66);
}
.item-card .card-title {
  padding: 1rem 0;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #0072b2;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
.item-card .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  -webkit-box-shadow: 2px 5px 36px -9px black inset;
  -moz-box-shadow: 2px 5px 36px -9px black inset;
  box-shadow: 2px 5px 36px -9px black inset;
  background: -o-radial-gradient(circle, white 0%, #f0f0f0 9%, rgba(240, 240, 240, 0.5) 18%, rgba(0, 0, 0, 0.01) 38%, rgba(0, 0, 0, 0.4) 70%);
  background: radial-gradient(circle, white 0%, #f0f0f0 9%, rgba(240, 240, 240, 0.5) 18%, rgba(0, 0, 0, 0.01) 38%, rgba(0, 0, 0, 0.4) 70%);
}
.item-card .img-wrapper img {
  width: 50%;
  height: auto;
}
.item-card .table {
  border: 2px solid #e69f00;
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
}
.item-card .btn {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: #0072b2;
  background-color: #FFFFFF;
}

.trait {
  margin-bottom: 2rem;
}
.trait .input-group {
  justify-content: center;
}
.trait .btn {
  color: #e69f00;
}
.trait .btn:disabled {
  visibility: hidden;
}
.trait input[type=text]:focus {
  border: 2px solid #e69f00;
  background-color: #0072b2;
  color: #ffffff;
}

.trait-title {
  margin-bottom: 0;
  text-transform: uppercase;
}

input[type=text] {
  border: 2px solid #ffffff;
  border-radius: 1rem;
  outline: 0 none;
  text-align: center;
  background-color: #ffffff;
  color: #0072b2;
  font-weight: bold;
  transition: all 0.5s ease;
}

#inventory {
  border: 1px solid #ddd;
}

.gold-container {
  text-align: center;
  border: 3px solid #e69f00;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
}
.gold-container img {
  width: 50%;
  height: auto;
}
.gold-container .btn {
  background-color: #0072b2;
  width: 50%;
  color: #ffffff;
  border: 2px solid #e69f00;
  margin-bottom: 4px;
  border-radius: 1rem;
}
.gold-container p {
  font-size: 1.2rem;
}

.price {
  font-weight: bold;
  color: #e69f00;
}

.search-btn {
  border: 2px solid #e69f00;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  background-color: white;
}

.search-box {
  border: 2px solid #e69f00 !important;
}

#extraFiltersToggle {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

/*# sourceMappingURL=mud.css.map */
