@mixin box-shadow($value){
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

@mixin bg-radial-gradient($value){
    background:-o-radial-gradient($value);
    background:radial-gradient($value);
}



