@use 'base';
@use 'prefixes';

body {
  background-color: base.$blue-bg;
  color: base.$blue-font-pair;
}

.icon {
  color: base.$yellow;
  margin-left: 0.2rem;
}

#balance{
    border: 2px solid #E69F00;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.125);
    padding: 1rem;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}

.link {
  position: relative;
  margin-top: 0.2rem;
  padding: 0.2rem;
  color: base.$blue-font-pair;
  text-decoration: none;
}

.link-top-border {
  &:hover {
    color: inherit;
  }

  //Animation code from: https://www.cssportal.com/blog/css-animated-underline-links/
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    top-bottom: 2px solid base.$yellow;
    transition: 0.4s;
  }

  &:hover:after {
    width: 100%;
  }
}

.link-bottom-border {
  &:hover {
    color: inherit;
  }

  //Animation code from: https://www.cssportal.com/blog/css-animated-underline-links/
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid base.$yellow;
    transition: 0.4s;
  }

  &:hover:after {
    width: 100%;
  }
}

.header-text {
  width: 100%;
  text-align: center;
  color: base.$blue-font-pair;
  text-transform: uppercase;
  font-weight: bold;

  &::before,
  &::after {
    content: "-";
    font-weight: bolder;
    color: base.$yellow;
  }
}

.form-container {
  border-radius: 1rem;
  background-color: base.$blue-bg;
  margin-top: 2rem;

  .form-control {
    box-shadow: none;
  }
}
.btn-group {
  position: sticky;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 10px;
  border: 2px solid base.$yellow;

  .btn {
    font-size: 1.5rem;
    width: 100%;
    background-color: base.$blue-bg;
    color: base.$blue-font-pair;
    border: 2px solid base.$yellow;
    margin-bottom: 4px;
    border-radius: 1rem;
  }
}

.trait-container {
  border: 0.3rem solid base.$yellow;
  border-radius: 1rem;
  @include prefixes.box-shadow(0px 10px 20px -3px rgba(0, 0, 0, 0.66));
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 3rem;

  legend {
    width: 50%;
    border: 0.3rem solid base.$yellow;
    border-radius: 1rem;
    position: relative;
    top: -25px;
    right: -25%;
    box-sizing: border-box;
    background-color: base.$blue-bg;
    color: base.$blue-font-pair;
    text-transform: uppercase;
  }
}

.common {
  background-color: base.$blue-bg;
}

.unusual {
  background-color: base.$green-bg;
}

.rare {
  background-color: base.$pink-bg;
}

.epic {
  background-color: base.$gold-bg;
}

.item-card {
  border: 4px solid base.$yellow;
  margin: 0 auto;
  height: 100%;
  background-color: base.$blue-bg;
  @include prefixes.box-shadow(0px 10px 20px -3px rgba(0, 0, 0, 0.66));

  .card-title {
    padding: 1rem 0;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    background-color: base.$blue-bg;
    width: 100%;
    z-index: 2;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  }

  .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    @include prefixes.box-shadow(2px 5px 36px -9px rgba(0, 0, 0, 1) inset);
    @include prefixes.bg-radial-gradient(
      (
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(240, 240, 240, 1) 9%,
        rgba(240, 240, 240, 0.5) 18%,
        rgba(0, 0, 0, 0.01) 38%,
        rgba(0, 0, 0, 0.4) 70%
      )
    );

    img {
      width: 50%;
      height: auto;
    }
  }

  .table {
    border: 2px solid base.$yellow;
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
  }

  .btn{
      width: 100%;
      text-transform: uppercase;
      font-weight: bold;
      color: base.$blue-bg;
      background-color: #FFFFFF;
  }
}

.trait {
  margin-bottom: 2rem;

  .input-group {
    justify-content: center;
  }

  .btn {
    color: base.$yellow;

    &:disabled {
      visibility: hidden;
    }
  }
}

.trait-title {
  margin-bottom: 0;
  text-transform: uppercase;
}

input[type="text"] {
  border: 2px solid #ffffff;
  border-radius: 1rem;
  outline: 0 none;
  text-align: center;
  background-color: base.$blue-font-pair;
  color: base.$blue-bg;
  font-weight: bold;
  transition: all 0.5s ease;

  &:focus {
    border: 2px solid base.$yellow;
    background-color: base.$blue-bg;
    color: base.$blue-font-pair;
  }
}

#inventory {
  border: 1px solid #ddd;
}
