{% extends 'MUDBase.html' %}
{% load static %}
{% load socialaccount %}

{% block extra_js %}
	<script src="{% static 'js/konva.min.js'%}"></script>
{% endblock %}


{% block content %}
<div id="js-alert" role="alert" aria-live="assertive" aria-atomic="true" class="toast hide position-absolute top-20 end-0" data-bs-autohide="true">
  <div class="toast-header">
    <strong class="mx-auto">Warning</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>

  <div class="toast-divider bg-warning"></div>

  <div class="toast-body text-center">
      <p id="js-alert-message"> Could not save to database. Please try again.</p>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <h2 class="page-title">{{ user.username }}'s Character</h2>
	{{ items|json_script:"itemdata" }}
	{{ inventory_size|json_script:"inventory_size"}}
	{{ MEDIA_URL|json_script:"media_url" }}
  </div>

  <div class="col-12 d-flex justify-content-center">
	  <!-- Used by inventory.js to detect which viewport size we are on -->
	  <div id="breakpoint-detect" class="d-md-none">
	  </div>

	  <div id="character" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="">
	  </div>
  </div>

  <div class="col-12 d-flex justify-content-center">
	  <div id="inventory" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="">
	  </div>
  </div>

{% csrf_token %}
</div>

{% endblock %}
{{ items|json_script:'itemdata' }}
{% block post_load_js%}
{{super}}
	<script id="media_url" charset="utf-8"></script>
	<script id="itemdata" charset="utf-8"></script>
	<script id="inventory_size" charset="utf-8"></script>

	<script src="{% static 'js/character_stage.js' %}" type="module" charset="utf-8">
	</script>

	<script src="{% static 'js/inventory_stage.js' %}" type="module" charset="utf-8">
	</script>

	<script src="{% static 'js/item.js' %}" type="module" charset="utf-8">
	</script>

	<script src="{% static 'js/inventory.js' %}" type="module" charset="utf-8">
	</script>
{% endblock %}
