<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <h2 >
        <a class="navbar-brand" href="{% url 'home_index' %}">
          <img id="siteLogo" class="img" src="{{MEDIA_URL}}logo.png" alt="Site Logo" />
        Arbaya</a>
    </h2>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarcontent"
      aria-controls="navbarcontent"
      aria-expanded="false"
      aria-label="Toggle Navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarcontent">
      <ul
        class="navbar-nav mx-auto ml-md-auto align-content justify-content-end w-100 me-5"
      >
	  <li clas="nav-item">
		  <a class="nav-link" href="{% url 'view_items' %}">Item Shop</a>
	  </li>

        {% if user.is_authenticated %}
          <li class="nav-item btn-group">
              <a id="navbarToggler" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Character </a>
              <ul class="dropdown-menu" aria-labelledby="navbarToggler">
                  <li><a class="dropdown-item w-100 text-end" href="{% url 'view_character' %}"> Character Overview<i class="fas fa-user icon"></i></a></li>
                  <li><a class="dropdown-item w-100 text-end" href="{% url 'manage_inventory'%}"> Manage Inventory <i class="fas fa-box-open icon"></i></a></li>
                  <li><a class="dropdown-item w-100 text-end" href="{% url 'edit_character'%}"> Upgrade Character  <i class="fas fa-edit icon"></i> </a></li>
              </ul>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'view_shop' %}">Buy Gold</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
          </li>
	{% else %}
        <li class="nav-item" id="loginLink">
            <strong>
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </strong>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- ./container-fluid -->
</nav>
