{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}

<div class="row">
    <div class="col-12">
    <div class="allauth-box login">
    <h1 class="text-center mt-5">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}

    <p class="text-center mt-5"> Characters earn their points and gold by spending time in <a href="https://www.twitch.tv/arbaya" target="__blank"> Arbaya's twitch chat.</a>
    Because of this you'll need to login to the site using your twitch account. Click the logo below to begin! </p>

    <div class="socialaccount_ballot">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
    </div>
    </div>
</div>
{% endblock %}
